.btn
  height: 60px
  padding: 0 60px
  line-height: 60px
  font-size: 20px
  font-weight: bold
  font-family: "Lato"
  outline: none
  border-radius: 30px
  transition: 0.3s all

  @media(max-width: 767px)
    padding: 0 40px

.btn-white

  box-shadow: 0 10px 10px 0 rgba(94,94,94,0.50)
  background: #fff
  color #29A3A0
  &:hover
    color #29A3A0
    transform: translateY(2px)
    box-shadow: 0 2px 2px 0 rgba(94,94,94,0.50)

.btn-blue
  background: linear-gradient(137deg, #6A7BC0 0%, #6C84C9 100%)
  color: #ffffff
  &:hover
    color #ffffff
    background: linear-gradient(134deg, #56689C 0%, #28757A 100%)

.btn-email-submit
  height: 40px
  line-height: 40px
  color: #ffffff
  text-align: center
  text-transform: uppercase
  border-radius: 20px
  border: none
  background: #18D4A3
  font-weight: bold
  font-size: 18px
  font-family: 'Lato'
  outline: none
  transition: 0.3s all;
  &:hover
    background: #05B688

.btn-email-white
  height: 40px
  line-height: 40px
  color: #29A3A0
  text-align: center
  text-transform: uppercase
  border-radius: 20px
  border: none
  background: #ffffff
  font-weight: bold
  font-size: 18px
  outline: none
  font-family: 'Lato'
  transition: 0.3s all;
  box-shadow: 0 6px 8px 0 rgba(85,85,85,0.31)

  &:hover
    transform: translateY(2px)
    box-shadow: 0 2px 2px 0 rgba(94,94,94,0.50)

.btn-feature
  height: 40px
  padding: 0 20px
  line-height: 40px
  color: #ffffff
  font-size: 20px
  font-weight: bold
  background: black
  border-radius: 20px
  border: none
  outline: none
  transition: 0.3s all;

  &:hover
    background: linear-gradient(137deg, #EC646F 0%, #6C84C9 100%)

.input-email
  background: #ffffff
  height: 40px
  padding: 0 30px
  line-height: 40px
  border: 1px solid #ffffff
  border-radius: 20px
  width 100%
  outline none
  color #333
  font-weight: 400
  font-size: 16px
  &:focus
    border: 1px solid #18D4A3