.navbar
  border none
  border-radius 0
  margin auto
  min-height 60px
  padding 40px 20px
  transition 0.4s all
  width 100%
  top 0
  position fixed
  z-index: 9999

.navbar .navbar-toggle
  margin-right 0

.navbar.mini
  padding 5px 20px 0 20px
  background #5D71B9

  .logo
    width 40px
    height 40px
    margin-top 5px

.navbar.mini-xs
  @media(max-width: 767px)
    padding 5px 20px 0 20px
    background #5D71B9
    .logo
      width 40px
      height 40px
      margin-top 5px

.navbar-nav
  >li
    margin-left 8px
    @media(min-width: 768px)
      &:first-child
        margin-left: 0
    > a
      position relative
      display block
      color #ffffff
      font-size 11px
      letter-spacing 1px
      text-transform uppercase
      padding 22px 10px 15px 10px

.navbar-nav
  a
    &:hover
      color #ffffff
      opacity 0.7
      background-color transparent !important
    &:focus
      background-color transparent !important

.navbar-toggle
    border-color transparent
    .icon-bar
      background #ffffff

.language
  > button
    background transparent
    border none
    color #ffffff
    font-size 10px
    letter-spacing 1px
    text-transform uppercase
    margin-left 10px
    padding 20px 0px 15px 10px
    float right
    >span
      margin-left: 15px
  .dropdown-menu
    width: 100px !important
    min-width: 100px !important

    a
      opacity: 1
      &:hover
        background rgba(0, 0, 0, 0.1) !important


.quick-contacts
    text-align: center
    display: inline-block
    margin-top: 11px
    a
      text-decoration: none
      display: inline-block
      width: 40px
      height: 40px
      background-size: 100% 100%
    img
      width: 100%
      height: 100%
      opacity: 0
      transition: 0.3s all;
      &:hover
        opacity: 1